@import "../../styles/index.scss";

.users {
    &__wrapper {
        
        padding: 31px 60px;
        margin-bottom: 16px;
    }
    &__title {
        @include AlegreyaSansSC(500, normal);
        font-size: 35px;
        margin-bottom: 16px;
    }
    &__content {
    }
}