@import "../../styles/index.scss";

.users {
    &__wrapper {
        width: 100%;
        padding: 31px 60px;
        margin-bottom: 16px;
    }
    &__title {
        @include AlegreyaSansSC(500, normal);
        font-size: 35px;
        margin-bottom: 16px;
    }
    &__content {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        gap: 13px;
    }
}