@import "../../styles/index.scss";

.user {
    &__wrapper {
        width: 100%;
        align-self: stretch;
        min-height: 100%;
        border: 1px solid black;
        padding: 14px 17px;
        position: relative;
    }
    &__title {
        @include OpenSans(700, normal);
        font-size: 17px;
        margin-bottom: 4px;
    }
    &__city {
        @include OpenSans(400, normal);
        font-size: 12px;
        color: rgba(0, 0, 0, 0.41);
        margin-bottom: 30%;
    }
    &__button {
        width: 75%;
        position: absolute;
        bottom: 15px;
    }
}