@import "../../styles/index.scss";

.post {
    &__wrapper {
        border: 1px solid black;
        height: 100%;
        padding: 14px 35px;
    }
    &__title {
        padding-bottom: 4px;
        @include OpenSans(700, normal);
        font-size: 17px;
    }
    &__body {
        @include OpenSans(400, normal);
        font-size: 12px;
        color: rgba(0, 0, 0, 0.41);
        line-height: 17px;
    }
}
