@import "../../styles/index.scss";

.comments {
    &__wrapper{
        margin-top: 70px;
        padding: 30px;
        padding-bottom: 10px;
    }
    &__title {
        @include AlegreyaSansSC(500, normal);
        font-size: 35px;
        margin-bottom: 16px;
    }
    &__post {
        margin-bottom: 30px;
    }
    &__send {
        padding: 0 40px;
        display: grid;
        grid-template-columns: 10fr 2fr;
        gap: 20px;
        
    }
    &__button {
        max-height: 60px;
        align-self: end;
        margin-bottom: 18px;
    }
    &__data {
        padding: 0 40px;
        span {
            display: block;
        }
    }
}

input {
    border: 1px solid black;
    margin-bottom: 10px;
    width: 300px;
    padding: 0 10px;
}